@charset "utf-8";

/*CSS初始化*/


/*part-1:默认设置*/
html,body,
ul,li,ol,dl,dd,dt,
p,h1,h2,h3,h4,h5,h6,
form,fieldset,legend,img {
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 {
	text-decoration: none;
	font-weight: normal;
	font-size: 100%;
}
s,i,em {
	font-style: normal;
	text-decoration: none;
}
ul,ol {
	list-style: none;/*列表前面没有点*/
}
fieldset,img,input,button {
	border: none;
	padding: 0;
	margin: 0;
	outline-style: none;
}
select,input {
	vertical-align: middle;
}
textarea {
	resize: none;	/*防止拖动*/
}
img {/*  去掉图片低测默认的3像素空白缝隙*/
	border: 0;
	vertical-align: middle;
}
table {
	border-collapse: collapse;
}


/*part-2:自定义样式*/

/*默认字体*/
body,div,p,span {
	font: bold 16px 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input {
	padding-top: 0;
	padding-bottom: 0;
	font-family: "SimSun", "宋体";
}
select,input,textarea {
	font-size: 12px;
	margin: 0;
}
body {
	font: 12px/150% Arial, Verdana, "\5b8b\4f53";
	/*color: #666;*/
	/*background: #fff;*/
}
/*默认链接样式*/
a {
	text-decoration: none;
	/*color: #666;*/
}
a:hover {
	/*color: #ad0711;*/
}



/*part-3:自定义类样式*/

/*清除浮动方法1：伪元素*/
.clearfix:after {
          content:””;
          Visibility:hidden;  
          Display:block; 
          Height:0;
          Clear:both;
}
.clearfix{
      Zoom:1;
}

/*清除浮动方法2：双伪元素*/
/*.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;	/*兼容IE/7/6*/
}*/

/*背景颜色*/
.bgc-red {
	background-color: #ad0711;
}

/*颜色*/
.col-red {
	color: #C81623!important;
}

/*公共类*/
.w {
	/*版心 提取 */
	width: 1210px;
	margin: 0 auto;
}

.fl {
	float: left
}

.fr {
	float: right
}

.al {
	text-align: left
}

.ac {
	text-align: center
}

.ar {
	text-align: right
}

.hide {
	display: none
}